Html,body {
background-color: #8BC34A;
font-family: Arial, sans-serif;
text-align: center;
margin: 0;
padding: 0;
width: 100%;
height:100%;
background: linear-gradient(-45deg,#ff0000, #0044ff, #00ff0d, #d9ff00);
background-size: 800% 800%;
animation: gradient 15s ease infinite;
perspective: 100em;
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

input {
  background-color: #EEEEEE;
  border: none;
  padding: 10px;
  margin: 5px 0 22px 0;
  width: 100%;
}

h1 {
	color: white;
	font-size: 48px;
	margin-bottom: 30px;
}

button {
	background-color: white;
	color: black;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0); /* définir une ombre transparente pour le texte */
	font-size: 20px;
	border-radius: 20px;
	padding: 10px 20px;
	margin: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	border: none;
}

button:hover {
	background-color: transparent;
	color: white;
}

* {
box-sizing: border-box;
}


/* Stylez et fixez le bouton sur la page */
.open-button {
  background-color: white;
  color: #8BC34A;
  font-size: 24px;
  border-radius: 20px;
  padding: 10px 35px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}
/* Positionnez la forme Popup */
.login-popup {
  position: left;
  text-align: center;
  width: 100%;
}
/* Masquez la forme Popup */
.form-popup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border: 2px solid #666;
  z-index: 9;
}
/* Styles pour le conteneur de la forme */
.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
/* Largeur complète pour les champs de saisie */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eee;
}
/* Quand les entrées sont concentrées, faites quelque chose */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
/* Stylez le bouton de connexion */
.form-container .btn {
  background-color: #8ebf42;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* Stylez le bouton pour annuler */
.form-container .cancel {
  background-color: #cc0000;
}
/* Planez les effets pour les boutons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
/*.uno-card {
	background: linear-gradient(90deg, #FFF, #EEE);
	border-radius: 5px;
	border: 1px solid #000;
	height: 120px;
	width: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  .uno-card .number {
	font-size: 32px;
	font-weight: bold;
	margin: 5px;
  }
  
  .uno-card .symbol {
	font-size: 20px;
	margin: 5px;
  }
  
  .uno-card .color {
	height: 20px;
	width: 80px;
	border-radius: 5px 5px 0 0;
  }
  
  .uno-card .color.blue {
	background: linear-gradient(90deg, #0AF, #06D);
  }
  
  .uno-card .color.green {
	background: linear-gradient(90deg, #6C0, #3C0);
  }
  
  .uno-card .color.red {
	background: linear-gradient(90deg, #F00, #C00);
  }
  
  .uno-card .color.yellow {
	background: linear-gradient(90deg, #FF0, #CC0);
  }
  .uno-hand {
	display: flex;
	justify-content: center;
  }
  
  .uno-card {
	background: linear-gradient(90deg, #FFF, #EEE);
	border-radius: 5px;
	border: 1px solid #000;
	height: 120px;
	width: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 10px;
  }
  
  .uno-card .number {
	font-size: 32px;
	font-weight: bold;
	margin: 5px;
  }
  
  .uno-card .symbol {
	font-size: 20px;
	margin: 5px;
  }
  
  .uno-card .color {
	height: 20px;
	width: 80px;
	border-radius: 5px 5px 0 0;
  }
  
  .uno-card .color.blue {
	background: linear-gradient(90deg, #0AF, #06D);
  }
  
  .uno-card .color.green {
	background: linear-gradient(90deg, #6C0, #3C0);
  }
  
  .uno-card .color.red {
	background: linear-gradient(90deg, #F00, #C00);
  }
  
  .uno-card .color.yellow {
	background: linear-gradient(90deg, #FF0, #CC0);
  }*/
  .box {
    width: 40%;
    margin: 0 auto;
    padding: 35px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    background-color: white;
    color: #8BC34A;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover {
    background-color: transparent;
    color: white;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  a:-webkit-any-link {
    text-decoration: none;
}
input[type="text" i] {
  padding: 5px 8px;
}
div {
  display: block;
  align-self: center;
}

.card {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.8em;
  padding: 0.3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 200ms;
  position: relative;
}
.card .bckg {
  width: 5em;
  height: 7.678500000000001em;
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
}
.card .bckg::before {
  content: '';
  width: 5em;
  height: 6.5em;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  transform-origin: center center;
  border-radius: 90% 40%;
}
.card .center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.card .bckg{
  color: red;
  background-color: red;
}

.card.turned:hover {
  cursor: default;
}
.card.turned .bckg {
  background-color: #1f1b18;
}
.card.turned .bckg::before {
  background-color: #dc251c;
}
.game-field #piles_area {
  position: relative;
  border-radius: 4em;
  transition: 200ms;
}
.game-field.yellow #piles_area {
  background-color: rgba(252,246,4,0.4);
}
.game-field.blue #piles_area {
  background-color: rgba(4,147,222,0.4);
}
.game-field.red #piles_area {
  background-color: rgba(220,37,28,0.4);
}
.game-field.green #piles_area {
  background-color: rgba(1,141,65,0.4);
}
#draw_pile {
  position: absolute;
  left: 5em;
  top: 5em;
}
#draw_pile .card.top-card,
#draw_pile .card.pile {
  position: absolute;
}
#draw_pile .card.pile {
  box-shadow: 0px 2px #fff, 0px 4px rgba(0,0,0,0.16), 0px 6px #fff, 0px 8px rgba(0,0,0,0.16), 0px 10px #fff, 0px 12px rgba(0,0,0,0.16), 0px 14px #fff, 0px 16px rgba(0,0,0,0.16), 0px 18px #fff, 0px 20px rgba(0,0,0,0.16);
}
#draw_pile .card.pile:hover {
  transform: none;
}
#draw_pile .card.top-card {
  z-index: 100;
  box-shadow: none;
}
#draw_pile .card.top-card:hover {
  box-shadow: 0px 4px rgba(0,0,0,0.16);
  cursor: pointer;
  transform: translateY(1em);
}
#discard_pile {
  position: absolute;
  left: 12em;
  top: 5.7em;
}
#discard_pile .card.top-card,
#discard_pile .card.pile {
  position: absolute;
}
#discard_pile .card.pile {
  box-shadow: 0px 2px #fff, 0px 4px rgba(0,0,0,0.16), 0px 6px #fff, 0px 8px rgba(0,0,0,0.16);
}
#discard_pile .card.pile:hover {
  transform: none;
}
#discard_pile .card.top-card {
  z-index: 100;
  box-shadow: none;
}
.game-field {
  height: 800px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 0.5em;
  grid-template-columns: 12em 24em 12em;
  grid-template-rows: 12em 24em 12em;
}
.game-field.perspective {
  transform: rotateX(30deg);
}
#piles_area {
  grid-area: 2/2;
}
#player {
  grid-area: 4/2;
}
#player_left {
  grid-area: 2/1;
}
#player_top {
  grid-area: 1/2;
}
#player_right {
  grid-area: 2/3;
}
.player_hand {
  position: relative;
}

#player .player_hand >.card {
  cursor: pointer;
}
#player .player_hand >.card:hover {
  transform-origin: left bottom;
  transform: rotate(-10deg) translateY(-0.5em);
}
#player .player_hand .card:hover~ .card {
  transform: translateX(2em);
}
#player_left .player_hand {
  transform-origin: left bottom;
  transform: rotate(90deg) translateY(-10em);
}
#player_top .player_hand {
  transform: translateY(1em);
}
#player_right .player_hand {
  transform-origin: left bottom;
  transform: rotate(-90deg) translate(-24em, 1em);
}
